---
Language:       Cpp
BasedOnStyle:   WebKit
Standard:       Cpp11
IndentWidth:    4
TabWidth:       4
UseTab:         Never

# Align
AccessModifierOffset: -4
ColumnLimit:     0
AlignAfterOpenBracket: DontAlign

# Type Alignment
DerivePointerAlignment: false
PointerAlignment: Left
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: true

# Break
Cpp11BracedListStyle: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   false
  AfterNamespace:  false
  AfterStruct:     false
  AfterUnion:      false
  AfterExternBlock: false
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: false
  SplitEmptyNamespace: true
BreakBeforeBinaryOperators: All
BreakBeforeInheritanceComma: false
BreakBeforeTernaryOperators: false

#Indent
IndentCaseLabels: true

# Classes
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true

# Functions
AllowShortFunctionsOnASingleLine: None
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterReturnType: None

BinPackArguments: true
BinPackParameters: true

# Namespaces
CompactNamespaces: true
FixNamespaceComments: true

# Spaces
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles:  false
SpacesInContainerLiterals: true
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: false
SpaceInEmptyBlock: false


SortUsingDeclarations: true
SortIncludes: false
SeparateDefinitionBlocks: Always
# SeparateDeclarations: Never
